@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin: 100px 0;
    gap: 4em;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section a {
    text-decoration: none;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-top: 1em;
    margin-bottom: 0em;
}

.photographer_section article h3 {
    color: #901C1C;
    margin: 0em;
    font-size: 13px;
}

.photographer_section article h4 {
    margin: 0em;
    color: black;
    font-size: 10px;
}

.photographer_section article p {
    margin: -1em;
    font-weight: lighter;
    font-size: 9px;
    opacity: 0.5;
    color: black;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1257px){

    header {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .logo {
        margin: 0.5em 0;
        
    }

    h1 {
        margin: 0
    }

    .photographer_section {
        margin: 50px 0;
    }
}